# Electricity Demands in Adelaide

These data sets consist of half-hourly electricity demands from Sunday to Saturday in Adelaide between 7/6/1997 and 3/31/2007.

In [1]:
import numpy as np
import scipy.linalg as la
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from util import *

In [3]:
week = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

# import data

In [4]:
D = np.zeros((7, 48, 508))
for i,w in enumerate(week):
    filename = "Adelaide/"+w+"demand_log_median_adj.csv"
    data = pd.read_csv(filename, index_col=0)
    D[i,:,:] = data.values

T = np.zeros((7,48,508))
for i,w in enumerate(week):
    filename = "Adelaide/"+w+"tempkent_median_adj.csv"
    data = pd.read_csv(filename, index_col=0)
    T[i,:,:] = data.values

# all time

In [8]:
[inputX, inputY] = list(map(lambda x:x[:,:,:].transpose(2,1,0), (D,T))) 
[inputX, inputY] = list(map(lambda x:x-x.mean(axis=0), (inputX,inputY))) 

(loading, corr) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
for i in range(20):
    (loading_tmp, corr_tmp) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
    if corr<corr_tmp:
        corr = corr_tmp
        loading = loading_tmp
print(corr)
corr_24 = corr
loading_24 = loading

0.9729785328655269

In [9]:
data = [loading[1].flatten(),loading[3].flatten()]
df = pd.DataFrame(data,columns=week, index=['D','T'],dtype=float)
print(df)
print('\n')
print(df.to_latex())

     monday   tuesday  wednesday  thursday    friday  saturday    sunday
D  0.240476  0.414098   0.385959  0.436324  0.420156  0.441493  0.244753
T  0.375444  0.256239   0.361829  0.407468  0.234358  0.454372  0.484825


\begin{tabular}{lrrrrrrr}
\toprule
{} &    monday &   tuesday &  wednesday &  thursday &    friday &  saturday &    sunday \\
\midrule
D &  0.240476 &  0.414098 &   0.385959 &  0.436324 &  0.420156 &  0.441493 &  0.244753 \\
T &  0.375444 &  0.256239 &   0.361829 &  0.407468 &  0.234358 &  0.454372 &  0.484825 \\
\bottomrule
\end{tabular}

In [10]:
data = [loading_24[0].flatten()]
df = pd.DataFrame(data,columns=range(1,49),dtype=float)
print(df)
print('\n')
print(df.to_latex())

         1         2         3         4         5         6        7   \
0  0.080865  0.076704  0.104684  0.104345  0.061872  0.021793 -0.02173

         8         9         10  ...        39        40        41        42  \
0 -0.067592 -0.099602 -0.121756  ...  0.214163  0.206319  0.135637  0.071573

         43        44        45        46        47        48
0  0.058267  0.069037  0.080476  0.055145  0.004033  0.062024

[1 rows x 48 columns]


\begin{tabular}{lrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr}
\toprule
{} &         1 &         2 &         3 &         4 &         5 &         6 &        7 &         8 &         9 &        10 &        11 &        12 &        13 &        14 &        15 &        16 &        17 &        18 &        19 &       20 &        21 &        22 &        23 &        24 &        25 &        26 &        27 &        28 &        29 &       30 &        31 &        32 &        33 &        34 &        35 &        36 &        37 &        38 &        39 &        40 &        41 &        42 &        43 &        44 &        45 &        46 &        47 &        48 \\
\midrule
0 &  0.080865 &  0.076704 &  0.104684 &  0.104345 &  0.061872 &  0.021793 & -0.02173 & -0.067592 & -0.099602 & -0.121756 & -0.121268 & -0.075742 &  0.001945 &  0.086361 &  0.129475 &  0.144199 &  0.155905 &  0.156183 &  0.151137 &  0.12593 &  0.064459 & -0.002591 & -0.066163 & -0.116019 & -0.145108 & -0.174616 & -0.179969 & -0.177918 & -0.206255 & -0.23821 & -0.262698 & -0.284979 & -0.280817 & -0.227089 & -0.121104 &  0.054085 &  0.231577 &  0.237779 &  0.214163 &  0.206319 &  0.135637 &  0.071573 &  0.058267 &  0.069037 &  0.080476 &  0.055145 &  0.004033 &  0.062024 \\
\bottomrule
\end{tabular}

# daytime

In [12]:
[inputX, inputY] = list(map(lambda x:x[:,20:30,:].transpose(2,1,0), (D,T))) 
[inputX, inputY] = list(map(lambda x:x-x.mean(axis=0), (inputX,inputY))) 

(loading, corr) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
for i in range(20):
    (loading_tmp, corr_tmp) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
    if corr<corr_tmp:
        corr = corr_tmp
        loading = loading_tmp
print(corr)
corr_10_15 = corr
loading_10_15 = loading

0.8852901878437583

In [13]:
data = [loading[1].flatten(),loading[3].flatten()]
df = pd.DataFrame(data,columns=week, index=['D','T'],dtype=float)
print(df)
print('\n')
print(df.to_latex())

     monday   tuesday  wednesday  thursday    friday  saturday    sunday
D -0.375579 -0.437686  -0.440435 -0.432271 -0.396888 -0.299485 -0.198292
T -0.427604 -0.483161  -0.275775 -0.452300 -0.306348 -0.235345 -0.392232


\begin{tabular}{lrrrrrrr}
\toprule
{} &    monday &   tuesday &  wednesday &  thursday &    friday &  saturday &    sunday \\
\midrule
D & -0.375579 & -0.437686 &  -0.440435 & -0.432271 & -0.396888 & -0.299485 & -0.198292 \\
T & -0.427604 & -0.483161 &  -0.275775 & -0.452300 & -0.306348 & -0.235345 & -0.392232 \\
\bottomrule
\end{tabular}

In [14]:
data = [loading_10_15[0].flatten()]
df = pd.DataFrame(data,columns=range(20,30),dtype=float)
print(df)
print('\n')
print(df.to_latex())

         20        21        22        23        24        25        26  \
0 -0.611118 -0.384674 -0.164506 -0.083782  0.012175  0.197989  0.281329

         27       28        29
0  0.263936  0.32116  0.391379


\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &        20 &        21 &        22 &        23 &        24 &        25 &        26 &        27 &       28 &        29 \\
\midrule
0 & -0.611118 & -0.384674 & -0.164506 & -0.083782 &  0.012175 &  0.197989 &  0.281329 &  0.263936 &  0.32116 &  0.391379 \\
\bottomrule
\end{tabular}

# night

In [15]:
[inputX, inputY] = list(map(lambda x:x[:,36:46,:].transpose(2,1,0), (D,T))) 
[inputX, inputY] = list(map(lambda x:x-x.mean(axis=0), (inputX,inputY))) 

(loading, corr) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
for i in range(20):
    (loading_tmp, corr_tmp) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
    if corr<corr_tmp:
        corr = corr_tmp
        loading = loading_tmp
print(corr)
corr_18_23 = corr
loading_18_23 = loading

0.7136840016190626

In [16]:
data = [loading[1].flatten(),loading[3].flatten()]
df = pd.DataFrame(data,columns=week, index=['D','T'],dtype=float)
print(df)
print('\n')
print(df.to_latex())

     monday   tuesday  wednesday  thursday    friday  saturday    sunday
D  0.195117  0.325723   0.528821  0.160848 -0.323589 -0.584402 -0.322605
T -0.434551 -0.215048  -0.507803  0.058006  0.400331  0.505956  0.295693


\begin{tabular}{lrrrrrrr}
\toprule
{} &    monday &   tuesday &  wednesday &  thursday &    friday &  saturday &    sunday \\
\midrule
D &  0.195117 &  0.325723 &   0.528821 &  0.160848 & -0.323589 & -0.584402 & -0.322605 \\
T & -0.434551 & -0.215048 &  -0.507803 &  0.058006 &  0.400331 &  0.505956 &  0.295693 \\
\bottomrule
\end{tabular}

In [17]:
data = [loading_18_23[0].flatten()]
df = pd.DataFrame(data,columns=range(36,46),dtype=float)
print(df)
print('\n')
print(df.to_latex())

         36        37       38        39        40        41       42  \
0  0.675839  0.522983  0.38367  0.275399  0.167315  0.108852  0.06556

         43        44        45
0  0.033246  0.024639  0.028783


\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &        36 &        37 &       38 &        39 &        40 &        41 &       42 &        43 &        44 &        45 \\
\midrule
0 &  0.675839 &  0.522983 &  0.38367 &  0.275399 &  0.167315 &  0.108852 &  0.06556 &  0.033246 &  0.024639 &  0.028783 \\
\bottomrule
\end{tabular}

# summary

In [18]:
data = [corr_24, corr_10_15, corr_18_23]
df = pd.DataFrame(data,index=["A","D","N"],dtype=float)
print(df.T)
print('\n')
print(df.T.to_latex())

          A        D         N
0  0.972979  0.88529  0.713684


\begin{tabular}{lrrr}
\toprule
{} &         A &        D &         N \\
\midrule
0 &  0.972979 &  0.88529 &  0.713684 \\
\bottomrule
\end{tabular}