In [1]:
import numpy as np
import scipy.linalg as la
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from util import *

In [3]:
week = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

In [4]:
# These data sets consist of half-hourly electricity demands from Sunday to Saturday in Adelaide between 7/6/1997 and 3/31/2007

In [5]:
# import data

In [6]:
D = np.zeros((7, 48, 508))
for i,w in enumerate(week):
    filename = "Adelaide/"+w+"demand_log_median_adj.csv"
    data = pd.read_csv(filename, index_col=0)
    D[i,:,:] = data.values

T = np.zeros((7,48,508))
for i,w in enumerate(week):
    filename = "Adelaide/"+w+"tempkent_median_adj.csv"
    data = pd.read_csv(filename, index_col=0)
    T[i,:,:] = data.values

In [7]:
# all time

In [8]:
[inputX, inputY] = list(map(lambda x:x[:,:,:].transpose(2,1,0), (D,T))) 
[inputX, inputY] = list(map(lambda x:x-x.mean(axis=0), (inputX,inputY))) 

(loading, corr, error) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
for i in range(20):
    (loading_tmp, corr_tmp, error_tmp) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
    if corr[-1]<corr_tmp[-1]:
        corr = corr_tmp
        loading = loading_tmp
print(corr[-1])
corr_24 = corr[-1]
loading_24 = loading

0.9729783188982911

In [9]:
data = [loading[1].flatten(),loading[3].flatten()]
df = pd.DataFrame(data,columns=week, index=['D','T'],dtype=float)
print(df)
print('\n')
print(df.to_latex())

     monday   tuesday  wednesday  thursday    friday  saturday    sunday
D -0.240342 -0.413937  -0.385857 -0.436257 -0.420188 -0.441782 -0.244859
T  0.375289  0.256011   0.361851  0.407381  0.234240  0.454566  0.484998


\begin{tabular}{lrrrrrrr}
\toprule
{} &    monday &   tuesday &  wednesday &  thursday &    friday &  saturday &    sunday \\
\midrule
D & -0.240342 & -0.413937 &  -0.385857 & -0.436257 & -0.420188 & -0.441782 & -0.244859 \\
T &  0.375289 &  0.256011 &   0.361851 &  0.407381 &  0.234240 &  0.454566 &  0.484998 \\
\bottomrule
\end{tabular}

In [10]:
data = [loading_24[0].flatten()]
df = pd.DataFrame(data,columns=range(1,49),dtype=float)
print(df)
print('\n')
print(df.to_latex())

         1         2         3         4         5         6         7   \
0  0.080893  0.076692  0.104656  0.104315  0.061855  0.021799 -0.021708

         8         9         10  ...        39        40        41        42  \
0 -0.067553 -0.099564 -0.121707  ...  0.214235  0.206331  0.135624  0.071565

         43        44        45        46        47        48
0  0.058257  0.069031  0.080471  0.055146  0.004072  0.062109

[1 rows x 48 columns]


\begin{tabular}{lrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr}
\toprule
{} &        1  &        2  &        3  &        4  &        5  &        6  &        7  &        8  &        9  &        10 &        11 &        12 &       13 &        14 &        15 &        16 &        17 &        18 &        19 &        20 &        21 &        22 &        23 &        24 &        25 &       26 &        27 &        28 &        29 &       30 &        31 &        32 &        33 &        34 &        35 &        36 &        37 &        38 &        39 &        40 &        41 &        42 &        43 &        44 &        45 &        46 &        47 &        48 \\
\midrule
0 &  0.080893 &  0.076692 &  0.104656 &  0.104315 &  0.061855 &  0.021799 & -0.021708 & -0.067553 & -0.099564 & -0.121707 & -0.121219 & -0.075697 &  0.00198 &  0.086356 &  0.129437 &  0.144148 &  0.155857 &  0.156128 &  0.151082 &  0.125877 &  0.064411 & -0.002636 & -0.066199 & -0.116035 & -0.145121 & -0.17463 & -0.179988 & -0.177934 & -0.206268 & -0.23821 & -0.262697 & -0.284969 & -0.280792 & -0.227063 & -0.121058 &  0.054152 &  0.231686 &  0.237905 &  0.214235 &  0.206331 &  0.135624 &  0.071565 &  0.058257 &  0.069031 &  0.080471 &  0.055146 &  0.004072 &  0.062109 \\
\bottomrule
\end{tabular}

In [11]:
# daytime

In [12]:
[inputX, inputY] = list(map(lambda x:x[:,20:30,:].transpose(2,1,0), (D,T))) 
[inputX, inputY] = list(map(lambda x:x-x.mean(axis=0), (inputX,inputY))) 

(loading, corr, error) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
for i in range(20):
    (loading_tmp, corr_tmp, error_tmp) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
    if corr[-1]<corr_tmp[-1]:
        corr = corr_tmp
        loading = loading_tmp
print(corr[-1])
corr_10_15 = corr[-1]
loading_10_15 = loading

0.885290188028615

In [13]:
data = [loading[1].flatten(),loading[3].flatten()]
df = pd.DataFrame(data,columns=week, index=['D','T'],dtype=float)
print(df)
print('\n')
print(df.to_latex())

     monday   tuesday  wednesday  thursday    friday  saturday    sunday
D -0.375579 -0.437686  -0.440435 -0.432271 -0.396888 -0.299485 -0.198292
T  0.427604  0.483161   0.275775  0.452300  0.306348  0.235345  0.392232


\begin{tabular}{lrrrrrrr}
\toprule
{} &    monday &   tuesday &  wednesday &  thursday &    friday &  saturday &    sunday \\
\midrule
D & -0.375579 & -0.437686 &  -0.440435 & -0.432271 & -0.396888 & -0.299485 & -0.198292 \\
T &  0.427604 &  0.483161 &   0.275775 &  0.452300 &  0.306348 &  0.235345 &  0.392232 \\
\bottomrule
\end{tabular}

In [14]:
data = [loading_10_15[0].flatten()]
df = pd.DataFrame(data,columns=range(20,30),dtype=float)
print(df)
print('\n')
print(df.to_latex())

         20        21        22        23        24        25        26  \
0 -0.611118 -0.384674 -0.164506 -0.083782  0.012175  0.197989  0.281329

         27       28        29
0  0.263936  0.32116  0.391379


\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &        20 &        21 &        22 &        23 &        24 &        25 &        26 &        27 &       28 &        29 \\
\midrule
0 & -0.611118 & -0.384674 & -0.164506 & -0.083782 &  0.012175 &  0.197989 &  0.281329 &  0.263936 &  0.32116 &  0.391379 \\
\bottomrule
\end{tabular}

In [15]:
# night

In [16]:
[inputX, inputY] = list(map(lambda x:x[:,36:46,:].transpose(2,1,0), (D,T))) 
[inputX, inputY] = list(map(lambda x:x-x.mean(axis=0), (inputX,inputY))) 

(loading, corr, error) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
for i in range(20):
    (loading_tmp, corr_tmp, error_tmp) = twoDcca(inputX, inputY, x_regular=0.01, y_regular=0.01, iter_max=30)
    if corr[-1]<corr_tmp[-1]:
        corr = corr_tmp
        loading = loading_tmp
print(corr[-1])
corr_18_23 = corr[-1]
loading_18_23 = loading

0.7136825621619554

In [17]:
data = [loading[1].flatten(),loading[3].flatten()]
df = pd.DataFrame(data,columns=week, index=['D','T'],dtype=float)
print(df)
print('\n')
print(df.to_latex())

     monday   tuesday  wednesday  thursday    friday  saturday    sunday
D  0.195150  0.325774   0.528816  0.160763 -0.323641 -0.584392 -0.322551
T -0.434566 -0.215069  -0.507787  0.058075  0.400374  0.505946  0.295630


\begin{tabular}{lrrrrrrr}
\toprule
{} &    monday &   tuesday &  wednesday &  thursday &    friday &  saturday &    sunday \\
\midrule
D &  0.195150 &  0.325774 &   0.528816 &  0.160763 & -0.323641 & -0.584392 & -0.322551 \\
T & -0.434566 & -0.215069 &  -0.507787 &  0.058075 &  0.400374 &  0.505946 &  0.295630 \\
\bottomrule
\end{tabular}

In [18]:
data = [loading_18_23[0].flatten()]
df = pd.DataFrame(data,columns=range(36,46),dtype=float)
print(df)
print('\n')
print(df.to_latex())

         36        37        38        39        40        41        42  \
0 -0.675845 -0.522982 -0.383667 -0.275396 -0.167314 -0.108846 -0.065553

         43        44        45
0 -0.033245 -0.024643 -0.028787


\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &        36 &        37 &        38 &        39 &        40 &        41 &        42 &        43 &        44 &        45 \\
\midrule
0 & -0.675845 & -0.522982 & -0.383667 & -0.275396 & -0.167314 & -0.108846 & -0.065553 & -0.033245 & -0.024643 & -0.028787 \\
\bottomrule
\end{tabular}

In [19]:
# summary

In [20]:
data = [corr_24, corr_10_15, corr_18_23]
df = pd.DataFrame(data,index=["A","D","N"],dtype=float)
print(df.T)
print('\n')
print(df.T.to_latex())

          A        D         N
0  0.972978  0.88529  0.713683


\begin{tabular}{lrrr}
\toprule
{} &         A &        D &         N \\
\midrule
0 &  0.972978 &  0.88529 &  0.713683 \\
\bottomrule
\end{tabular}